* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.container {
   text-align: center;
}

.start-camera-btn {
   margin-top: 40px;
   padding: 10px 20px;
   background-color: gray;
   border-radius: 8px;
   border: none;
   color: white;
   cursor: pointer;
}

.camera-control-btn {
   padding: 10px;
   border: none;
   background-color: rgba(255,255,255, .5);
   border-radius: 8px;
   cursor: pointer;
}

#switch-camera-btn {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(40%, -50%);
}

#stop-camera-btn {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(-180%, -50%);
}

.camera-view {
   max-width: 100%;
   max-height: 100%;
   background-color: black;
   transition: .5s ease;
   position: relative;
}

.camera-container {
   display: none;
   justify-content: center;
   background-color: black;
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   animation: zoomFullScreen .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (max-width: 768px) {
   .camera-container {
      height: 90vh;
   }
}

#capture-btn {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 40px;
   height: 40px;
   border: 2px solid rgba(0, 0, 0, 0.5);
   border-radius: 50%;
   box-shadow: 0 0 0 8px rgba(255,255,255, .9);
   background-color: white;
   font-size: 30px;
   cursor: pointer;
}

.photo-info {
   position: absolute;
   top: 0;
   right: 0;
   padding: 20px;
   background-color: rgba(255,255,255, .5);
   border-bottom-left-radius: 8px;
   animation: fadeIn 0.2s ease;
}

@keyframes zoomFullScreen {
   from {
      transform: scale(0);
   }
   to {  
      transform: scale(1);
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

#photo {
   max-height: 400px;
}

.photo-preview-container {
   text-align: left;
   margin: 20px;
}

.photo-preview-container #download {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: gray;
   border-radius: 8px;
   border: none;
   color: white;
   cursor: pointer;
}